<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Book App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="list-books-title">
      <h1>My Book App</h1>
      <a href="/add_book" class="button">Add Book</a>
      <a href="/add_author" class="button">Add Author</a>
      <form class="form" action="/home" method="GET">
      <input type="text" placeholder="Search..." name="search">
      <button type="submit" class="button"><i class="fa fa-search"></i></button>
      </form>

          <!-- Insert message with resulting operation here -->
      {% if message %}
        <div id="Message" class="message">
        <p>{{ message }}</p>
        </div>
      {% endif %}
    </div>

    <div>
      <a href="/home?sort=title&order=asc" class="button">By Title (a-z)</a>
      <a href="/home?sort=title&order=desc" class="button">By Title (z-a)</a>
      <a href="/home?sort=author&order=asc" class="button">By Author (a-z)</a>
      <a href="/home?sort=author&order=desc" class="button">By Author (z-a)</a>
      <a href="/home?sort=year&order=asc" class="button">By Year (oldest)</a>
      <a href="/home?sort=year&order=desc" class="button">By Year (newest)</a>
    </div>

    <div class="books-grid">
      {% for book in books %}
        <article class="book">
          <img class="book-cover" src="{{ book.cover }}" alt="{{ book.title }} cover"/>
          <form action="{{ url_for('delete_book', book_id=book.id) }}" method="get">
            <button type="submit" class="button"><i class="fa fa-trash" aria-hidden="true"></i></i></button>
          </form>
          <div class="book-title"> {{ book.title }} </div>
          <div class="book-year"> ({{ book.year }}) </div>
          <div class="book-author"> {{ book.author }} </div>
        </article>
      {% endfor %}
    </div>
  </body>
</html>